<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CupoNoa</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/slider.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/sb-admin-2.css" rel="stylesheet" />
    <link href="css/metisMenu.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery.js"></script>
</head>

<body>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" onclick="SetView('products');">CupoNoa</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" onclick="SetView('about');">About</a>
                            </li>
                            <li>
                                <a href="#" onclick="SetView('about');">Services</a>
                            </li>
                            <li>
                                <a href="#" onclick="SetView('about');">Contact</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-content">
                                            <div class="" id="nav-collapse3">
                                                <form class="navbar-form navbar-right" role="search">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Search" />
                                                    </div>
                                                    <button type="submit" class="btn "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                    <br />
                                                    <a href="#" onclick="SetView('search');$('.dropdown.open .dropdown-toggle').dropdown('toggle');navigator.geolocation.getCurrentPosition(showdPosition);">Advanced</a>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right" id="head_account" hidden>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
                                             <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-content">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img id="accountImg" alt="Alternate Text" class="img-responsive" />
                                                    <p class="text-center small">
                                                    </p>
                                                </div>
                                                <div class="col-md-7">
                                                    <span id="accountName"></span>
                                                    <p id="accountMail" class="text-muted small"></p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" id="accountView" class="btn btn-primary btn-sm active">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navbar-footer">
                                            <div class="navbar-footer-content">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="head_login">
                            <li>
                                <a href="#" onclick="SetView('login');">Sign Up / Login</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#" onclick="SetView('main');"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" id="CuponsDiv">
            </div>
            <!-- /.row -->
            <!-- /.row -->
            -           
            <div class="row">
                <div id="main">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id="NumOfUnapproved">0</div>
                                            <div>Cupons Waiting For Approval!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" onclick="ApproveCupons();">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id="numOfUnapprovedBussinesses">0</div>
                                            <div>Bussiness Requests!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" onclick="ApproveBussinesses()">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-shopping-cart fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge" id="numOfSocialCupons">0</div>
                                            <div>New Social Network Cupons</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" onclick="ApproveSocialCupons()">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-support fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">0</div>
                                            <div>New Users!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Top Cupons
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Cupon Name</th>
                                                    <th>Bussiness</th>
                                                    <th>Category</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody id="topBody">
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i>Event Log
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group" id="EventLog">
                                        
                                    </div>
                                    <!-- /.list-group -->
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>

        <!-- /Profile -->
        <div class="container">

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; CupoNoa 2015</p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->
    </div>
    <div id="WaitModal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center">
                    <h3>Searching for Cupons</h3>
                </div>
                <div class="modal-body">
                    <div style="height: 200px">
                        <span id="searching_spinner_center" style="position: absolute; display: block; top: 50%; left: 50%;"></span>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CuponModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="CuponName">Modal</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10">
                            <span><b>Description:&nbsp</b></span>
                            <span id="cuponDescription"></span>
                            <br />
                            <span><b>Location:&nbsp</b></span>
                            <span id="cuponLocation"></span>
                            <br />
                            <span><b>Expiration Date:&nbsp</b></span>
                            <span id="cuponExpiration"></span>
                        </div>
                        <div class="col-md-2">
                            <span id="cuponOriginalPrice" style="color: red; text-decoration: line-through; font-size: larger;"></span>
                            <span id="cuponPrice" style="color: green; text-decoration: none; font-size: larger;"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="PurchaseButton" class="btn btn-primary">Approve Cupon</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="GeneralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="generalModalTitle">Modal</h4>
                </div>
                <div class="modal-body" id="generalModalBody">
                </div>
                <div class="modal-footer" id="generalModalFooter">
                    <button type="button" class="btn btn-default" id="generalModalCloseButton" data-dismiss="modal">Close</button>
                </div>
            </div>
            <input type="hidden" id="bussinessIdHidden" />
        </div>
    </div>
    <div class="modal fade" id="AddCuponModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Cupon</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <section class="container">
                            <div class="container-page">
                                <div class="col-md-6">

                                    <div class="btn-group">
                                        <a class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a Bussiness <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="bussiness">
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <a class="btn btn-default" onclick="AddBussiness">Create New Bussiness</a>
                                        </div>
                                    </div>


                                    <h3 class="dark-grey">Add Cupon</h3>

                                    <div class="form-group col-lg-12">
                                        <label>Cupon Name</label>
                                        <input type="" name="" class="form-control" id="NewCuponName" value="">
                                    </div>

                                    <div class="form-group col-lg-12">
                                        <label>Description</label>
                                        <input type="text" name="" class="form-control" id="NewCuponDescription" value="">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Original Price</label>
                                        <input type="number" name="" class="form-control" id="NewCuponOriginalPrice" value="">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Cupon Price</label>
                                        <input type="number" name="" class="form-control" id="NewCuponPrice" value="">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Select Category</label>
                                        <select id="NewCuponCategory">
                                            <option value="0">Restaurants</option>
                                            <option value="1">Shopping</option>
                                            <option value="2">Health Care</option>
                                            <option value="3">Office & Electronics</option>
                                            <option value="4">Vacations</option>
                                            <option value="5">Pleasure</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Expiration Date</label>
                                        <input type="date" id="NewCuponDate" />
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="Button1" class="btn btn-primary" onclick="AddCupon()">Add Cupon</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddBussinessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Bussiness</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bussiness Name</label>
                                    <input type="text" name="" class="form-control" id="NewBussinessName" value="">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="" class="form-control" id="NewBussinessDescription" value="">
                                </div>
                                <div class="form-group">
                                    <label>Select Category</label>
                                    <select id="NewBussinessCategory">
                                        <option value="0">Restaurants</option>
                                        <option value="1">Shopping</option>
                                        <option value="2">Health Care</option>
                                        <option value="3">Office & Electronics</option>
                                        <option value="4">Vacations</option>
                                        <option value="5">Pleasure</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location">Location</label>
                                    <input class="form-control" type="text" id="location" />
                                    <input type="hidden" id="NewBussinessLongitude" />
                                    <input type="hidden" id="NewBussinessLatitude" />
                                </div>

                                <div id="mapCanvas" class="text-center"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="Button2" class="btn btn-primary" onclick="AddBussiness()">Send Bussiness Request</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>
</body>

</html>
