<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserServicesSoap" />
        <binding name="CuponServicesSoap" />
        <binding name="BussinessServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20353/Controller/UserServices.asmx" binding="basicHttpBinding" bindingConfiguration="UserServicesSoap" contract="UserWebServiceReference.UserServicesSoap" name="UserServicesSoap" />
      <endpoint address="http://localhost:20353/Controller/CuponServices.asmx" binding="basicHttpBinding" bindingConfiguration="CuponServicesSoap" contract="CuponWebServiceReference.CuponServicesSoap" name="CuponServicesSoap" />
      <endpoint address="http://localhost:20353/Controller/BussinessServices.asmx" binding="basicHttpBinding" bindingConfiguration="BussinessServicesSoap" contract="BussinessWebServiceReference.BussinessServicesSoap" name="BussinessServicesSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=D:\CuponsRepository\Cupons\CuponWebSite\CuponWebSite\APP_DATA\DATABASE.MDF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>